body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Barlow Condensed', sans-serif;
  max-width: 1100px
}

h1 {
  text-align: center;
  font-size: 40px;
}

.main-container {
  padding: 24px 32px;
}

.new-order {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 32px;
}

.new-order span {
  color: orange;
  cursor: pointer;
  transition: 0.25s;
}

.new-order span:hover {
  opacity: 0.7;
}

.autosuggest-container {
  margin-top: 24px;
  margin-bottom: 4px;
}

.fecha, .folio {
  position: absolute;
  right: 0;
}

.fecha {
  top: 0;
}

.folio {
  top: 24px;
}

.float-right {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

b {
  margin-right: 12px;
  margin-top: 8px;
}

@media (max-width: 800px) {

}

@media (max-width: 667px) {

}

@media (max-height: 450px) {

}

@media (max-height: 350px) {

}
